h1 {
    text-align: center;
    margin-top: 10px;
}

.me-photo {
    width: 225px;
    height: 275px;
    padding-bottom: 10px;
    padding-right: 10px;
  }

.logo {
    font-family: Georgia, Times, "Times New Roman", serif;

    /* Typography */
    font-weight: bold;
    color: black;
}

.block {
    background-color: #fff;

    padding: 30px;
    margin-bottom: 30px;
}

.block-header {
    /* Typography */
    color: black;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
}

.cards {
    padding-bottom: 25px;
}

.card-holder {
    padding: 15px;
    padding-bottom: 15px;
}

.non-header {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
